body{
    background-image: url("./imagenes_tienda/404image.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

@font-face{
  font-family: letrabit;
  src: url(./8-BITWONDER.TTF.TTF);
}

#letra{
  font-family: letrabit;
}