h1 {
    width: 93%;
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
}

.blue {
    color: red;
}

#display {
    border: 2px solid black;
    padding: 10px;
}

