body{
    background-image: url("./404image.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

@font-face{
  font-family: letrabit;
  src: url(./8-BITWONDER.TTF.TTF);
}

.letra{
  font-family: letrabit;
  text-shadow: 4px 3px gray;
  color: whitesmoke;
  text-align: center;
  border-style: double;
  border-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 200px;
  background-color: black;
}